<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
</head>
<body>


<p><strong>Create Account Here</strong></p>
<form>
<div class="input-group input-group-sm">
  <input type="text" class="form-control" placeholder="Full Name">
  <!--<span class="input-group-btn">
    <button class="btn btn-default" type="button">Enter</button>
  </span>-->
</div><br>

<div class="input-group input-group-sm">
  <input type="text" class="form-control" placeholder="Year Of Birth">
  <!--<span class="input-group-btn">
    <button class="btn btn-default" type="button">Enter</button>
  </span>-->
</div><br>

<div class="input-group input-group-sm">
  <input type="text" class="form-control" placeholder="Registration Number">
  <!--<span class="input-group-btn">
    <button class="btn btn-default" type="button">Enter</button>
  </span>-->
</div><br>

<div class="input-group input-group-sm">
  <input type="text" class="form-control" placeholder="Course">
  <!--<span class="input-group-btn">
    <button class="btn btn-default" type="button">Enter</button>
  </span>-->
</div><br>
  <div class="input-group input-group-sm">
  <input type="text" class="form-control" placeholder="Explain in less than 300 word what you expect from this club">
  <!--<span class="input-group-btn">
    <button class="btn btn-default" type="button">Enter</button>
  </span>-->
</div><br>
<input type="submit" name="valuee">
</form>
<div>
  <p>Upload a file from the PC</p>
  <input type="file" name="pc">
</div>

<div class="container">
<img src="gis.jpg" id="nttLogo" class="img-responsive img-thumbnail pull-left" alt="Responsive image" height="300" width="400" align="right">
</div>


</body>
</html>