<!DOCTYPE html>
<html>
<head>
	<title>Sign In Page</title>
</head>
<body>

<p><strong>Sign In Page</strong></p>
<form>
<div class="input-group input-group-lg">
  <span class="input-group-addon">Your name</span>
  <input type="text" class="form-control" placeholder="Full Name">
</div><br>


  password:<input  type="password" name="pword">
  </br>
  <input type="submit" name="value">
</form>



  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/adminer/">Phone</a></li>
      <li><a href="#">Email</a></li>
      <li><a href="#">Achedule Appointment</a></li>
    </ul>
  </li>
</body>
</html>